# Ignorar dados e resultados para manter o repositório leve
/data/*
/results/*

# Ignorar arquivos de instalação e código-fonte baixados
*.zip
Trimmomatic-0.39/
bwa-mem2/

# Ignorar arquivos do sistema
.vscode/
